<h1>Publicaciones</h1>


<% @publications.each do |publication| %>
  
    <% @users.each do |user| %>
     <% if publication.user_id == user.id %>

      <p>Usuario : 
      <%= user.alias %></p>
      <br>
      

      <p>Titulo:
      <%= publication.title %></p>
      <br>
      <%= image_tag publication.image.url(:medium) %>
      <br>
      <p>Descripci&oacute;n :
      <%= publication.description %></p>
     <% end %>
    
   
    <% end %>
  

<% end %>


<br/>
<br><hr>

