<h5><i><u> Usuarios</u></i></h5>
<table >
  <tr>
    <th>Alias</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.alias %></td>
  
  <!-- CLICK Y FUNCIONALIDAD DE MANDAR MAIL O IR A VER TODOS LOS POST DE DICHO USUARIO  -->

  </tr>
<% end %>
</table>

<br />