<% if user_signed_in? %>
  <p>Ac&aacute; van a estar todos los posts en orden cronológico </p>
  <%=render 'publications/index'  %>
<% else  %>
  <h5>Bienvenido a la Red Social que estabas esperando, donde podras compartir Fotos, Videos, Noticias, sin preocuparte por nada ni nadie, tambien podras Calificar y Comentar las publicaciones de otros Usuarios, SOLO TIENES QUE ELEGIR UN ALIAS, REGISTRARTE y empezar a DIVERTIRTE!</h5>
  <br>
  <hr>
  <br><br><br><br>
  <p>Ac&aacute; van a estar los mejores 3 posts</p>
<% end  %>



