@import "bootstrap";
body {
  background-color: silver;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image: url('anon.jpg');
  background-repeat: repeat;
}




#todo
{
  margin: 0 auto;
  width: 950px;
  background-color: lightgray;
  height: 100%;
}

#arriba
{
  margin-bottom: -30px;
}

#menu
{
  margin-top: 0px;
  margin-bottom: -20px;
}

#izquierda
{
  background-color: lightgray;
  width: 230px;
  float: left;
  padding: 0px 10px 0px 10px;
  text-size: 11;
  text-align: center;
  margin-top: 0px;
}

#content
{
  background-color: lightblue;
  float: left;
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
  width: 680px;
  height: 100%;
}

#derecha
{
  background-color: lightgray;
  width: 225px;
  float: right;
  margin-top: -30px;
}

#izquierda a:hover
{
  text-decoration: none;
}

#abajo
{
  background-color: grey;
  width: 950px;
  clear: both;
}

.titulolistado
{
  text-decoration-color: black;
}

#publicacion
{
  text-align: justify;
}

#comentario
{
  text-align: left;
}

#comentario hr
{
  width: 200px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
